body {
    background-color: antiquewhite;
}
.p1 {
    
    width: 35vw;
    border-radius: 35px;
    padding: 20px;
    font-size: 20px;
    
}
.photo1{
    height: 500px;
    width: 700px;
    border-radius: 35px;
    margin-left: 10px;
}
.photo2{
    height: 400px;
    width: 600px;
    border-radius: 35px;
    margin-left: 20px;
}
.photo3{
    height: 400px;
    width: 600px;
    border-radius: 35px;
    margin-left: 20px;
}
.photo4{
    height: 400px;
    width: 600px;
    border-radius: 35px;
    margin-left: 20px;
}
.my-container{
    display: flex;
    justify-content: space-around;
    background-color: rgba(153, 148, 148, 0.678);
    border-radius: 35px;
    padding: 50px;
    margin-left: 40px;
    margin-right: 40px;
}
.photos{
    display: flex;
    justify-content: space-around;
    margin: 50px;
}
.d{
    display: flex;
    justify-content: space-around;
    margin: 50px;
    font-size: 30px;
}