<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/g-style.css">
</head>
<body>
    <div>
        <p>Инструкця для новичков</p>
    </div>
    <div>
        <p>Что понадобиться?</p>
        <h1>Пряжа</h1>
        <ol>Выбирайте нитки средней толщины</ol>
        <ol>Берите гладкую пряжу, без ворса</ol>
        <ol>Для начала выбирайте светлые цвета: с ними работать удобнее</ol>
    </div>
    <div>
        <h1>Крючок</h1>
        <ol>Оптимально в офлайн-магазине подержать разные крючки в руках и выбрать тот, который ложится в руку удобнее всего</ol>
        <ol>Выбирайте оптимальный размер крючка: 4−5</ol>
    </div>
    
    
</body>
</html>